
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Discover the most reviewed places in your city | Top-Rated.Online</title>
    <meta property="og:title" content="Discover the most reviewed places in your city">
    <meta name="agd-partner-manual-verification">
    <meta name="yandex-verification" content="11f9fd1400e9d876">
    <meta name="google-site-verification" content="gbrb0fNRefIGNweRU2-yilzDS1uGHEnXP1FQyPq0d3I">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="assets/css/styles.css"> -->
    <style type="text/css">
    body {
        margin: 0px;
        padding: 0px;
    }

    main p {
        margin: 0;
    }
    </style>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="jumbotron" style="background: rgb(168,171,0);">
        <div class="container">
            {% if user.is_authenticated %}
                <a href="/seefavouriteplace" style="position: absolute; right : 180px;">Favourite Place</a>
                <a href="/auth/logout" style="position: absolute; right : 100px;">Logout</a><br>
            {% else %}
                <a href="/auth/login" style="position: absolute; right : 180px;">Login</a>&nbsp;
                <a href="/auth/register" style="position: absolute; right : 100px;">Register</a><br>
            {% endif %}
                
            <a href="/" class="navbar-brand" style="position: relative; font-size: 24px;">
                <b style="font-weight: 200;">Rated</b> Places
            </a>
            <h1>Discover the most reviewed places in your city</h1>
            <p>Restaurants, Tourist Attractions, Hotels, Bars &amp; Pubs based on ratings of Google Maps</p>
            <div>
                {% if request.path == "/" %}
                    <form action="category">
                        <input type="search" name="city" id="city" class="search" placeholder="Enter City name">
                        <button type="submit" class="btn">Go</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    {% block content%}

    {% endblock %}

    
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    {% load sweetify %}
    {% sweetify %}
</body>

</html>