{% extends 'base.html' %}
{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-9">
            <h2 class="title" style="margin: 15px;"> {{name}}
            </h2>
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-12"><a href="/cities/Surat/all/top-rated">
                        <div class="card" style="margin: 15px;">
                            <div class="card-body">
                                <p class="card-text"></p>
                                <h4>View all places in {{name}}</h4>
                                <p></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6"><a href="/cities/Surat/Bars+and+Pubs/top-rated">
                        <div class="card" style="margin: 15px;"><img src="/images/bars-and-pubs.jpg" alt="Bars and Pubs in Surat" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text"></p>
                                <h4>Bars and Pubs in {{name}}</h4>
                                <p></p>
                            </div>
                        </div>
                    </a>
                </div>  
            </div>
        </div>
        <div class="col-md-3">
            <h3 class="title">
                Cities nearby Surat
            </h3>
            <ul class="list" style="padding-left: 5px;">
                <li><a href="/cities/Amroli">Amroli, India <span style="color: rgb(158, 158, 158);">(~5km)</span></a></li>
                <li><a href="/cities/K%C4%81thor">Kāthor, India <span style="color: rgb(158, 158, 158);">(~14km)</span></a></li>
                <li><a href="/cities/B%C4%81rdoli">Bārdoli, India <span style="color: rgb(158, 158, 158);">(~29km)</span></a></li>
                <li><a href="/cities/Kosamba">Kosamba, India <span style="color: rgb(158, 158, 158);">(~32km)</span></a></li>
                <li><a href="/cities/Kadod">Kadod, India <span style="color: rgb(158, 158, 158);">(~39km)</span></a></li>
                <li><a href="/cities/Gandevi">Gandevi, India <span style="color: rgb(158, 158, 158);">(~47km)</span></a></li>
                <li><a href="/cities/Bilimora">Bilimora, India <span style="color: rgb(158, 158, 158);">(~50km)</span></a></li>
                <li><a href="/cities/Ankleshwar">Ankleshwar, India <span style="color: rgb(158, 158, 158);">(~51km)</span></a></li>
                <li><a href="/cities/Chikhli">Chikhli, India <span style="color: rgb(158, 158, 158);">(~54km)</span></a></li>
                <li><a href="/cities/Vy%C4%81ra">Vyāra, India <span style="color: rgb(158, 158, 158);">(~58km)</span></a></li>
            </ul> <a href="/cities/India" class="title" style="font-size: 16px; color: rgb(108, 178, 235);">
                View all places in <b>India</b></a> <br> <br> <ins full-width-responsive="true" data-ad-client="ca-pub-3952276294006861" data-ad-slot="1878594662" data-ad-format="auto" class="adsbygoogle" style="display: block;"></ins> <ins full-width-responsive="true" data-ad-client="ca-pub-3952276294006861" data-ad-slot="1878594662" data-ad-format="auto" class="adsbygoogle" style="display: block;"></ins>
        </div>
    </div>
 </main>
    
{% endblock content %}
    
