{% extends 'base.html' %}
    


{% block content %}
    
<main class="container" style="margin-bottom: 2rem; font-weight: 300; font-family: Helvetica, Arial, sans-serif;">
    <h1> What's Rated Places?</h1>
    <p>When you travel to a new city, it takes time till you find your new favorite place or visit what's best here. You will want to visit the best places there are, but it is so difficult to find them!</p>
    <p>
      The most reviewed and top rated places are ones that you can trust. But take everything with a grain of salt.
    </p>
    <p>There are also many <i>hidden gems</i> that are extremely good, but are not that popular. Also, always keep an eye on worst reviewed places and tourist traps that you should avoid.</p>
    <p></p> 
    <p>&nbsp;</p>
    <p>Enter the city or country name and see the the best reviewed places on Google Maps. </p> <br>
    <p>You may also wish to view the most reviewed or worst reviewed on Google Maps in the world</p> <br>
    <h1>Data</h1>
    <p>We have data about
     <span class="badge badge-success">23312</span> cities in 
     <span class="badge badge-success">248</span> countries across 
     <span class="badge badge-success">17</span> categories. In total there are 
     <span class="badge badge-success">6911816</span> places indexed.</p> <br> 
</main>

{% endblock %}