{% extends 'authbase.html' %}

{% block title %}
LogIn
{% endblock title %}


{% block link %}
<link rel="stylesheet" type="text/css" href="../static/css/login.css">
{% endblock link %}

{% block content %}
    <div class="login" data-aos="fade-up" data-aos-once="true">
        <h2>Log In Here</h2>
        <form action="/auth/login" method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit" name="submit1" value="LogIn">
        </form>
        <footer>
            <a href="/auth/register">Register new account</a><br>
            <a href="#">Forget Password</a>
        </footer>
    </div>
{% endblock content %}