{% extends 'base.html' %}
{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-3">
            <h3 class="title">Filter list by</h3> 
            <a href="#" class="btn btn-block btn-primary">Sort by <b style="font-weight: 600;">top rated </b>
                <div class="fiter-icon">🏆</div>
            </a> 
            <a href="#" class="btn btn-block btn-outline-primary">Sort by <b style="font-weight: 600;">most reviewed <span></span></b>
                <div class="fiter-icon">🤩</div>
            </a>
            <hr> 
            <a href="#" class="btn btn-block btn-outline-info">view <b style="font-weight: 600;">hidden gems </b>
                <div class="fiter-icon">💎</div>
            </a> <a href="#" class="btn btn-block btn-outline-danger">view <b style="font-weight: 600;">worst rated </b>
                <div class="fiter-icon">🤬</div>
            </a>
            <hr>
            <h3 class="title">
                Categories
            </h3>
            <ul class="list" style="padding-left: 5px;">
                <li><b>View All</b> in {{name}}</li>
                
                {% for c in categories %}
                <li><a href="/places?name={{name}}&category={{c}}"><b>{{c}}</b> in {{name}}</a></li>
                {% endfor %}
                    
                
            </ul>
              <br> <br> <ins full-width-responsive="true" data-ad-client="ca-pub-3952276294006861" data-ad-slot="1878594662" data-ad-format="auto" class="adsbygoogle" style="display: block;"></ins> <br> <ins full-width-responsive="true" data-ad-format="auto" class="adsbygoogle" data-ad-client="ca-pub-3952276294006861" data-ad-slot="9066379844" data-full-width-responsive="true" style="display: block;"></ins>
        </div>
        <div class="col-md-9"><br> <ins full-width-responsive="true" data-ad-format="auto" class="adsbygoogle" data-ad-style="display:inline-block;width:970px;height:250px" data-ad-client="ca-pub-3952276294006861" data-ad-slot="6356456021" style="display: block;"></ins> <br>
            <ol class="list" style="margin-bottom: 0px;">
                
                {% for key, value in places.items %}
                    <li style="font-size: 18px;"><b style="font-weight: 600;">
                        <a href="/place?name={{name}}&placeid={{value.2}}">{{key}}</a>
                    </b> &nbsp; - &nbsp;
                        <span class="badge badge-over45">{{value.0}}</span></a> (<i>{{value.1}} reviews</i>) <i class="d-none d-md-block" style="color: rgb(173, 181, 189); float: right;">Cash only</i>
                        <div style="clear: both;"></div>
                    </li>
                {% endfor %}
                    
                
            </ol> 
            <small style="color: rgb(158, 158, 158);">Tip: Click on the <span class="badge badge-success">rating</span> to open it on Google Maps</small> <br> <br>
            <h2>What's a Top rated?</h2>
            <p>The list is sorted by the average review score for places with more than 30 reviews
                in <b>{{category}} </b> category
                .
            </p>
        </div>
    </div>
</main>

{% endblock %}
    