{% extends 'authbase.html' %}
    

{% block title %}
    Register
{% endblock title %}
   


{% block link %}
    <link rel="stylesheet" type="text/css" href="../static/css/reg.css">
{% endblock link %}


{% block content %}
    <div class="reg">
        <h2>Create New Account</h2>
        <form action="register" id="regform" method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit" name="submit1" value="submit">
        </form>
        <footer>
            <a href="/auth/login">Already have an account ?</a>
        </footer>
    </div>
{% endblock content %}
    
    